$btn-color : #fff;
$btn-bg-color: #1207ab;
$btn-hover-color: #1207ab;
$btn-hover-bg-color: #fff;
$btn-border-color: #1207ab;
$btn-border-hover-color: #1207ab;

$box1-bg-color: #44cef8;
$box2-bg-color: #19667e;
$box3-bg-color: #134757;
